image: registry-vpc.cn-shenzhen.aliyuncs.com/mytools/dotnetsdk:2.2

variables:
  REGISTRY_USER: szli@fairhr.com
  REGISTRY_HOST: registry-vpc.cn-shenzhen.aliyuncs.com

stages:
  - build
  - dev
  - qa
  - local
  - staging
  - prod

build-test:
  stage: build
  tags:
    - normal
  script:
    - "dotnet restore --configfile NuGet.Config"
    - "dotnet build Fairhr.Jobs/Fairhr.Jobs.csproj -c Release"
    - "dotnet publish Fairhr.Jobs/Fairhr.Jobs.csproj -c Release -o ../job-release"
  artifacts:
    paths:
      - job-release/
  only:
    - Development
    - QA
    - Staging

build-prod:
  stage: build
  tags:
    - normal
  script:
    - dotnet restore --configfile NuGet.Config
    - dotnet build Fairhr.Jobs/Fairhr.Jobs.csproj -c Release
    - dotnet publish Fairhr.Jobs/Fairhr.Jobs.csproj -c Release -o ../job-release
    - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWD $REGISTRY_HOST
    - docker build -f Dockerfile -t $REGISTRY_HOST/fairhr/jobs:${CI_COMMIT_SHA:0:8} .
    - docker push $REGISTRY_HOST/fairhr/jobs:${CI_COMMIT_SHA:0:8}
  artifacts:
    paths:
      - job-release/
  only:
    - Production

before_script:
  - 'which ssh-agent || ( apt-get install -qq openssh-client)'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_QA_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

todev:
  stage: dev
  tags:
    - normal
  script:
    - scp -r -P 35674 job-release root@120.77.39.217:/var/vdb1/fairhr/dev
    - ssh -p 35674 root@120.77.39.217 "cd /var/vdb1/fairhr/dev && rm -rf Fairhr.Jobs && mv job-release /var/vdb1/fairhr/dev/Fairhr.Jobs"
    - ssh -p 35674 root@120.77.39.217 "cd /var/www/fairhr && docker-compose restart fairhrjobs-dev"
  only:
    - Development

tolocal:
  image: registry.cn-shenzhen.aliyuncs.com/mytools/dotnetsdk:2.2
  stage: local
  tags:
    - test
  script:
    - "dotnet restore --configfile NuGet.Config"
    - "dotnet build Fairhr.Jobs/Fairhr.Jobs.csproj -c Release"
    - "dotnet publish Fairhr.Jobs/Fairhr.Jobs.csproj -c Release -o ../jobs-local"
    - scp -r jobs-local root@168.33.162.142:/var/sdb1
    - ssh root@168.33.162.142 "cd /var/www/fairhr && docker-compose restart jobs-local"
  only:
    - AutoTest

toqa:
  stage: qa
  tags:
    - normal
  script:
    - scp -r -P 35674 job-release root@120.77.39.217:/var/vdb1/fairhr/qa
    - ssh -p 35674 root@120.77.39.217 "cd /var/vdb1/fairhr/qa && rm -rf Fairhr.Jobs && mv job-release /var/vdb1/fairhr/qa/Fairhr.Jobs"
    - ssh -p 35674 root@120.77.39.217 "cd /var/www/fairhr && docker-compose restart fairhrjobs-qa"
  only:
    - QA
    
tostaging:
  stage: staging
  tags:
    - normal
  script:
    - scp -r -P 35674 job-release root@120.77.39.217:/var/vdb1/fairhr/staging
    - ssh -p 35674 root@120.77.39.217 "cd /var/vdb1/fairhr/staging && rm -rf Fairhr.Jobs && mv job-release /var/vdb1/fairhr/staging/Fairhr.Jobs"
    - ssh -p 35674 root@120.77.39.217 "cd /var/www/fairhr && docker-compose restart fairhrjobs-staging"
  only:
    - Staging

toprod:
  stage: prod
  tags:
    - normal
  script:
    - ssh -p 27630 root@172.18.100.223 "kubectl set image deploy/jobs jobs=$REGISTRY_HOST/fairhr/jobs:${CI_COMMIT_SHA:0:8} -n fairhr"
  only:
    - Production
