image: registry-vpc.cn-shenzhen.aliyuncs.com/mytools/dotnetsdk:2.2

stages:
  - build

before_script:
  - "dotnet restore --configfile NuGet.Config"

build:
  stage: build
  script: "dotnet build"
  only:
    - qa

